Port 22
Protocol 2
ListenAddress <IP ADDRESS>
HostKey /etc/ssh/ssh_host_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
SyslogFacility AUTHPRIV
LogLevel INFO
LoginGraceTime 120
PermitRootLogin no
StrictModes yes
AllowUsers <USERNAME>
IgnoreRhosts yes
IgnoreUserKnownHosts yes
PermitEmptyPasswords no
X11Forwarding no
PrintMotd yes
UsePrivilegeSeparation yes
Subsystem sftp /usr/libexec/openssh/sftp-server